<!DOCTYPE html>
<html lang="en">

<head>
{% include 'template_head.html' %}
</head>

<body>

<div class="container">
  <div class="row row-eq-height">
    <div class="col-12 text-center">

      <!-- Navigation -->
      {% with page_info=page_info %}
      {% include 'template_top_navbar.html' %}
      {% endwith %}

      <div class="container d-none">
        <iframe src="https://gitlab.home.sendotux.net/users/sign_out"></iframe>
        <p>!!!</p>
      </div>

      <!-- Content -->
      <div class="container" style="margin-top: 7px;">
        <p>You have logged out.</p>
        <a class="btn btn-primary" href="/login" role="button">Home Page</a>
      </div>

    </div>
  </div>
</div>

</body>

</html>
