<!DOCTYPE html>
<html lang="en">

<head>
{% include 'template_head.html' %}

  <style>
  .catimgcontainer {
    margin-top: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .lessmargin {
    padding-right: 5px;
    padding-left: 5px;
  }
  </style>
</head>

<body>


  <div class="container">
    <div class="row row-eq-height">
      <div class="col-12 text-center">

      <!-- Navigation -->
      {% with page_info=page_info %}
      {% include 'template_top_navbar.html' %}
      {% endwith %}

      <!-- Page Content -->
      <div class="container" style="margin-top: 7px;">
        <div class="row row-eq-height">
          <div class="col-6 text-center">
            <div class=catimgcontainer>
              <div class=catimgcontainerinner>
                <img src="{{url_for('static', filename='images/home_hazel_scaled.jpg')}}" class="rounded-circle mx-auto d-block img-thumbnail catpic" alt="">
              </div>
            </div>
          </div>
          <div class="col-6 text-center align-middle d-flex align-items-center">
            <div>
              <h1>Hazliconnect</h1>
              <h3>Test application to test login with oauth and Gitlab as auth server.</h3>
              <p class="small">This application requires authentication.</p>
              <a class="btn btn-primary" href="/login" role="button">Login with Gitlab</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</body>

</html>
