
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Hazliconnect</a>
  <div class="navbar-nav mr-auto" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Environment: <span class="badge badge-info">{{page_info.environment}}</span> <span class="badge badge-info">{{page_info.parent_host}}</span></a>
          <a class="dropdown-item" href="#">Release time: <span class="badge badge-primary">{{page_info.release_time.split(".")[0]}}</span></a>
          <a class="dropdown-item" href="#">Version: <span class="badge badge-secondary">{{page_info.version}}</span></a>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav">
    <li class="nav-item">
      {% if page_info.rightside_link == "index" %}
        <a class="nav-link" href="/"></a>
      {% else %}
        <a class="nav-link" href="logout">Logout</a>
      {% endif %}
    </li>
    </ul>
  </div>
</nav>
